/* The weather div id needs to have entries displayed in a row */
    /* It will be an unordered list */
#weather ul {
    list-style: none;
}
#weather li {
    display: inline-block;
    margin-right: 20px; /* add spacing between items */
    border : 3px solid black;
    width : 14%;
    padding : 5px;
    height : 25%;
}

.cityCards li {
    display: inline-block;

    border : 3px solid black;
    padding : 2px;
    margin : 3px;
    width : 10%;
}